# Node dependencies
node_modules/
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Coverage/test output
coverage/
*.lcov

# Misc
*.swp
*.swo

push.sh
notes_steps.txt
sonar-env/
setup.txt
.ipynb_checkpoints/